<div class="container" id="developers">
    <article>
<img src= ""/>
<span>
<p>Name </p>
<p>position</p>
<p>Description</p>
</span>
</article>

<article>
<img src= ""/>
<span>
<p>Name </p>
<p>position</p>
<p>Description</p>
</span>
</article>

<article>
<img src= ""/>
<span>
<p>Name </p>
<p>position</p>
<p>Description</p>
</span>
</article>

<article>
<img src= ""/>
<span>
<p>Name </p>
<p>position</p>
<p>Description</p>
</span>
</article>

<article>
<img src= ""/>
<span>
<p>Name </p>
<p>position</p>
<p>Description</p>
</span>
</article>

<article>
<img src= ""/>
<span>
<p>Name </p>
<p>position</p>
<p>Description</p>
</span>
</article>

<article>
<img src= ""/>
<span>
<p>Name </p>
<p>position</p>
<p>Description</p>
</span>
</article>

    
    
    
    
</div>
