<div class="container" id="home">
        <div class="container">
            <header>
                <h1>Play <span>Divergence</span> by Synergy</h1>
                <h2>
                    Travel. A Game About Time
                    <br><br>
                </h2>
                <br>
            </header>
        </div>

        <div id="game-container" class="container center">
            <div id="game">
            <button onclick="callResetGame()">Reset</button>
            <button onclick="callSaveGame()">Save</button>
            <button onclick="callLoadGame()">Load</button>
            <button onclick="callTest()">Test</button>
            </div>
        </div>
</div>
